<%- include('partials/header'); -%>
<h1>Home</h1>
<p><%=homeStartingContent%></p>

 <div>
    <% for(var i = 0 ; i < posts.length ; i++){ %>
        <h1><a href="/posts/<%=posts[i].Title%>"><%= posts[i].Title %></a></h1>
        <p><%= posts[i].Content.slice(0,100) %>...</p>
    <%} %>
 </div>
<%- include('partials/footer'); -%>